extends layout

block content
  h1= title

  ul
    each color in color_list 
        li
            a(href=color.url) #{color.name} 
            | #{color.description}
            
    else
      li There are no colors