extends layout

block content

  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name', class='font-weight-bold font-size-md') Name:
      input#name.form-control(class='col-sm-6', type='text', placeholder='Grass, Flowers etc.' name='name' required='true' value=(undefined===scent ? '' : scent.name) )
      br
      label(for='description', class='font-weight-bold') Description:
      input#description.form-control(class='col-sm-6', type='text', placeholder='This scent smells absolutely fire, etc.' name='description' required='true' value=(undefined===scent ? '' : scent.description) )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg